@model CieciuraB.Todo.Web.Persist.Domain.Account;
@{
    ViewData["Title"] = "Wylogowanie nastąpiło pomyślnie";
}
<h4>@ViewData["Title"]</h4>




<script type="text/javascript">


    setTimeout(() => { window.location.href = "/Home/Index";}, 2000);
</script>
    
    
